table {
  width: 100%;
  border-collapse: collapse;
  margin: 16px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}

.action-bar {
  display: flex;
  justify-content: flex-end; /* Allinea il pulsante a destra */
  margin-bottom: 10px; /* Spaziatura tra il pulsante e la tabella */
}

button {
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f9f; /* Colore più scuro al passaggio del mouse */
}

button:focus {
  outline: none;
}

ngx-datatable {
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: calc(100vh - 150px); /* Calcola lo spazio disponibile sopra il footer */
  overflow: auto;
}

ngx-datatable .datatable-header {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

ngx-datatable .datatable-body-row {
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s;
}

ngx-datatable .datatable-body-row:hover {
  background-color: #f1f1f1;
}

ngx-datatable .datatable-footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
