<ngx-datatable
  class="bootstrap"
  [rows]="chargeabilityData"
  [columns]="[
    { prop: 'eid', name: 'EID' },
    { prop: 'fiscal_year', name: 'FY' },
    { prop: 'yy_cal', name: 'Anno Calendario' },
    { prop: 'mm_cal', name: 'Mese Calendario' },
    { prop: 'tot_hours', name: 'Ore Totali' },
    { prop: 'work_hh', name: 'Ore Lavorate' },
    { prop: 'work_hh_chg', name: 'Ore Lavorate CHG' },
    { prop: 'work_hh_nochg', name: 'Ore Lavorate NO CHG' },
    { prop: 'work_hh_no_impact', name: 'Ore Lavorate NO IMPACT' },
    { prop: 'chg_mm', name: 'CHG Mensile' },
    { prop: 'chg_yy', name: 'CHG Annuale' }
  ]"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
>
</ngx-datatable>
