.spacer {
  flex: 1 1 auto; /* Fa sì che lo spazio tra il titolo e i link sia dinamico */
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Sottolinea il link quando il mouse passa sopra */
}

.mat-toolbar-logo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 20px;
  color: black;
}
