<mat-toolbar color="primary">
  <span>WBS & Chargeability App Manager</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a mat-button routerLink="/time-reports" routerLinkActive="active">Report</a>
  <a mat-button routerLink="/employees" routerLinkActive="active">Employees</a>
  <a mat-button routerLink="/wbs" routerLinkActive="active">WBS</a>
  <a mat-button routerLink="/chargeability" routerLinkActive="active">Chargeability</a>
</mat-toolbar>
